{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upload</title>

    <link href="{% static 'job/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'job/js/bootstrap.bundle.min.js' %}"></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'job/css/cover.css' %}" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-400 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">ScanWebShell</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="/index/">Home</a>
        <a class="nav-link" href="/job/count/">Count</a>
        <a class="nav-link" href="/user/logout/">Logout</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <form action="/job/upload/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <label for="formFileLg" class="form-label">请选择文件:</label>
      <input class="form-control form-control-lg" id="formFileLg" type="file" name="file">
    <input type="submit" value="确定上传">

  {% if message_warning %}
    <div class="alert alert-warning" role="alert">{{ message_warning }}</div>
  {% endif %}
  {% if message_success %}
  <div class="alert alert-success" role="alert">{{message_success}}</div>
  {% endif %}


    </form>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Created by <a href="http://is.cumt.edu.cn/" class="text-white">BXS</a>@<a href="https://xzaslxr.xyz/" class="text-white">fe1w0</a>.</p>
  </footer>
</div>
  </body>
</html>
